body {
    background-image: url(image.jpg);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: black;
    padding: 50px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
table.form td {
    padding: 4px;
}
tbody {
    font-size: 18px;
}
.registration {
    text-align: center;
}
.button {
    color: #fff; /* цвет текста */
    background: rgb(210, 112, 205);
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 5px;
}
.button:hover { background: rgb(162, 56, 157); } /* при наведении курсора мышки */
